body {
    background-color: #000;
    color: #fff
}

#wrap {
    position: relative;
    top: -85px;
}

#header
{
}

#header a#forkme {
    width: 20%;
    float: left;
    /* background-color: #aaa; */
}

a#forkme img {
    border: 0px solid #000;
}

/* #benchmark-list { */
/*     /\* text-align: right; *\/ */
/*     width: 79%; */
/*     height: 50px; */
/*     float: right; */
/*     border: 1px solid #fff; */
/* } */

/* .combobox_input { */
/*   background-color: #000; */
/*   color: #fff; */
/*   border: 1px solid #fff; */
/* } */

#graph
{
    clear: both;
    float: left;
    margin-left: 2%;
    width: 41%;
}

#benchmark
{
	float: left;
	margin-left: 1%;
	padding-left: 1%;
	width: 53%;
	margin-bottom: 10px;
	border-left: 1px solid #fff;
}

#benchmark table {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    border: 1px #fff solid;
    border-collapse: collapse;
}

#benchmark table th {
    background-color: #aaa;
}

#benchmark table td, #benchmark table th {
    border-bottom: 1px #fff solid;
    padding: 0.5em;
}

#footer
{
    clear: both;
    /* padding-top: 30px; */
    /* text-align: center; */
    /* font-size: 0.8em; */
    /* color: #ccc; */
}

#footer a, #footer a:visited {
    color: #ccc;
}

#benchmark p {
    margin-top: 20px;
    margin-bottom: 40px;
}

p span {
    font-weight: bold;
}

#benchmark h1 {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


#benchmark-list select {
    margin: 10px;
    color: #fff;
    background-color: #000;
}

#info {
    margin-top: 50px;
    text-align: center;
}

#info a {
    text-decoration: underline;
    padding: 0 10px 0 10px;
}

a.ceebox {
    color: #fff;
}

a.ceebox:hover {
    text-decoration: underline;
}

a.ceebox:visited {
    color: #fff;
}
