body {
    background: #000;
    font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
    color: #fff;
    margin: 10px 0 0 0;
    padding: 0;
}

#holder {
    margin: 0 20px 0 20px;
    border-right: 1px #fff solid;
    float: left;
    width: 50%;
}

div#info {

}

p span {
    font-weight: bold;
}

p span.results-title {
    border-bottom: 1px #fff solid;
}

#benchmark table {
    margin-top: 10px;
    text-align: left;
    border: 1px #fff solid;
    border-collapse: collapse;
}

#benchmark table th {
    background-color: #aaa;
}

#benchmark table td, #benchmark table th {
    border-bottom: 1px #fff solid;
    padding: 0.85em;
}

#header {
    margin-right: 10px;
    text-align: right
}

#header select {
    background-color: #000;
    color: #fff
}
