body {
    background-color: #000;
    color: #fff
}

#header
{
	height: 50px;
	/* background-color: #666; */
	margin-bottom: 10px;
}

#graph
{
	float: left;
	width: 25%;
	/* background-color: #999; */
	margin-bottom: 10px;
}

#benchmark
{
	float: left;
	margin-left: 5%;
	width: 65%;
	/* background-color: #999; */
	margin-bottom: 10px;
}

#benchmark table {
    margin-top: 10px;
    text-align: left;
    border: 1px #fff solid;
    border-collapse: collapse;
}

#benchmark table th {
    background-color: #aaa;
}

#benchmark table td, #benchmark table th {
    border-bottom: 1px #fff solid;
    padding: 0.85em;
}

#footer
{
	clear: both;
	height: 50px;
	/* background-color: #666; */
	margin-bottom: 10px;
}

p span {
    font-weight: bold;
}

p span.results-title {
    border-bottom: 1px #fff solid;
}
